<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @comment.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @comment.email %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @comment.comentario %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
